/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/storage/*.key
/storage/*.index
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
.env.*.php
.env.php
.env


# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

